interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://155pod.bandcamp.com/album/j-a-r
  response:
    body:
      string: "    \n\n<!DOCTYPE html>\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n
        \       xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n\n<head>\n    <title>J.A.R.
        | 155</title>\n    \n    \n\n\n\n    <meta name=\"description\" content=\"\nJ.A.R.
        by 155, released 31 May 2021\n\n1. J.A.R.\n2. J.A.R. (Jason Andrew Relva)\n3.
        J.A.R. for Three Basses\n4. J.A.R.\n5. P.L.U.R. (YUL - IBZ mix)\n6. M.A.S.O.N.\n7.
        there is no such thing as rhythm or timing\n8. J.A.R.\n9. J.A.R\n10. A.D.K.\n11.
        joz augmented reality (J.A.R.)\n12. J.A.R. (&amp;quot;Things that made my
        previous roommates upset&amp;quot; demo)\n13. J.A.R.\n14. J.A.R.\n15. J.A.R.\n16.
        J.A.R. (Abridged)\n17. Jar\n18. J.A.R.T.Y. H.A.R.D.\n19. j.a.r.\n20. J.A.R.\n21.
        Jason Andrew Relva\n22. Philosophy of the J.A.R.\n23. JAR\n24. Jars of Clay
        ft. Cake\n25. J.A.R., but the &amp;quot;A&amp;quot; stands for Angus, just
        like Angus stands for all of us. Bless up!\n26. JAR\n27. while i&amp;#39;m
        young and while i&amp;#39;m able\n28. Tiny Fuel Drum\n29. JAR (Bass Cover)\n30.
        J.A.R. Egghead Bunson Cover\n31. J.A.R. (Jacques-Antoine Rousseau)\n32. jar
        [demo]\n33. Pod Laundry\n34. J.A.R.\n35. Grouch Stew / J.A.R ed\n36. Sason
        Kandrew Alva\n37. SKAR\n38. JAR\n39. JARgonaut\n40. H.B.G. (Happy Birthday
        Globehellremix)\n41. J.A.R. [Electro Swing Mix]\n42. J.A.R. (Jason Andrew
        Relva) COVER!!!!!!!!!!!!!!\n43. J.A.R. (Jarring, Ambient, Roomy)\n44. JAR\n45.
        CRASS LOOPS 155 - JAR\n\nCovers of Green Day&amp;#39;s &amp;quot;J.A.R.&amp;quot;
        by the listeners of the 155 podcast.\n\">\n    \n     \n    <link rel=\"shortcut
        icon\" href=\"https://f4.bcbits.com/img/a4175552842_3.jpg\">\n    <link rel=\"apple-touch-icon\"
        href=\"https://f4.bcbits.com/img/a4175552842_3.jpg\">\n\n\n<meta name=\"msapplication-TileColor\"
        content=\"#603cba\">\n<meta name=\"theme-color\" content=\"#ffffff\">\n    <meta
        name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    \n    \n\n    \n
        \   \n        <meta name=\"title\" content=\"J.A.R., by 155\">\n        <meta
        proper[...]
